$AlerteSaffron: #ff8f00;
$Snow: #ffffff;
$Gray: #bababa;
$DimGray: #686868;
$DarkGray: #373737;
$Darkjunglegreen: #292929;
$Green: #66b83a;
$btnGreen: #97c157;
$UAred: #d90450;
$meMessage: #27a2dc;
$botMessage: #f6f6f6;
$header-color-dark: #074d99;
$header-color-brit: #31bcf1;
$header-up-white: rgba(255, 255, 255, 13%);
$header-up-black: rgba(0, 0, 0, 13%);
// admin
$blue-color: #2cb0e7;
