@import "./colors";
@import "./Layout";

.home {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    340deg,
    $header-color-brit 0%,
    $header-color-dark 100%
  );
}
.m-b-20 {
  margin-bottom: 10rem;
}
.left-content {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 60px;
}
.fly {
  width: 200px;
  position: absolute;
  bottom: -55px;
  right: 46px;
}
.oval {
  position: absolute;
  width: 80%;
  height: 80%;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  border-radius: 50%;
  top: -30px;
  left: -30px;
}
.left-content p {
  font-size: 24px;
  color: $Snow;
}

.left-content p span {
  display: block;
}

.right-content {
  padding: 15px;
  height: 100%;
}
.right-content {
  p {
    font-size: 9px;
  }
}
.form-floating > label {
  font-size: 10px;
  top: -15px;
  left: -12px;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: auto;
}
.form-floating {
  margin-bottom: 15px;
}
.form-floating.mb-3 {
  input.form-control {
    padding: 5px;
  }
}
.form-check.form-switch {
  label.form-check-label {
    font-size: 10px;
  }
}
.form-check.form-switch {
  input.form-check-input {
    width: 25px;
    margin-left: -34px;
    height: 15px;
    margin-top: 9px;
  }
}
.right-content {
  background-color: $Snow;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 30px;
}
form {
  font-size: 19px;
  .form-control {
    border: 0px;
    border-bottom: 1px solid $DimGray;
    border-radius: 0;
  }
}
.oub {
  text-decoration: none;
  color: $DarkGray;
  font-size: 10px;
  &:hover {
    color: $DarkGray;
  }
}
.sub {
  background-color: #97c157;
  color: $Snow;
  width: 100%;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 15px;
  padding: 5px;
}
.WeCount {
  max-width: 60%;
  margin-bottom: 50px;
  margin-top: 30px;
}
.row.form {
  display: flex;
  justify-content: space-around;
  margin-right: 0;
  margin-left: 0;
  .div-oub {
    width: 40%;
    text-align: right;
  }
  .form-check.form-switch {
    width: 60%;
  }
}
.form-check.form-switch {
  input.form-check-input:checked {
    background-color: $btnGreen;
    border: 1px solid $btnGreen;
  }
}
/* login  */

.main-content .up {
  padding: 30px 0px 30px 10px;
}
.up .btn i {
  font-size: 20px;
  margin: 0 10px;
}
.up .btn {
  font-size: 18px;
  padding: 5px;
}
.up .col-md-4 {
  float: right;
}
.down .card {
  margin-bottom: 30px;
  min-height: 600px;
  position: relative;
  box-shadow: -2px 0px 15px -5px rgba(0, 0, 0, 0.26);
}
.down .page-progress {
  display: flex;
  align-items: center;
}
.down .page-num h1 {
  font-size: 25px;
}
.down .page-num span {
  font-weight: 500;
  color: #ff8f00;
}
.down .page-aug .num {
  font-size: 18px;
  font-weight: 400;
  color: $DarkGray;
  font-weight: 400;
}
.page-aug {
  display: flex;
}
.form-check.form-switch.page {
  label {
    font-size: 19px !important;
    font-family: "Roboto", sans-serif;
  }
  input {
    width: 52px;
    height: 25px;
    margin-top: 0;
    margin-right: 10px;
  }
}
.div-cont {
  padding-left: 50px;
}
.down .page-aug .aug-num {
  color: #ff8f00;
}
.page-spn {
  width: 50px;
  height: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
  margin: 0 7px;
}
span.page-spn.active {
  background-color: #ff8f00;
}
.tow {
  left: 255px;
}
.cont {
  margin: 22px 0;
}
.page-btn {
  display: flex;
  margin: 40px 0;

  input[type="radio"] {
    display: none;
  }
  label {
    color: $DarkGray;
    background-color: $Snow;
    height: 60px;
    padding: 0 40px;
    border-radius: 35px;
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  input[type="radio"]:checked + label {
    border: 1px dashed $AlerteSaffron;
    color: $AlerteSaffron;
    box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.3);
  }
}
.form-check-input:checked {
  background-color: #83c24d !important;
  border-color: #83c24d !important;
}

.form-check.form-switch {
  padding: 0 47px;
}
button.btn.active {
  border: 2px dashed #ff8f00 !important;
  color: #ff8f00 !important;
}
.down .col-md-4 {
  text-align: center;
}
.down .down-p1 {
  font-size: 25px;
}
.down .down-p {
  font-size: 18px;
}
.down .down-p2 .center {
  text-align: center;
}
.down .down-p2 {
  font-size: 17px;
}
.row-action {
  margin-top: 30px !important;
}
.action-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  button[type="submit"] {
    width: 100px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
  }
  button[type="submit"].action {
    background-color: $btnGreen;
    color: $Snow;
  }
}
.main-content button.btn.action-light {
  background-color: $Snow;
  color: $DarkGray;
  width: 129px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
}
.down .card .menu {
  padding: 16px 0px 16px 30px;
  text-align: left;
  background-color: #fafafa;
  border-radius: 5px;
  height: 100%;
}
.items::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 63%;
  top: 46px;
  left: 30px;
  border-left: 1px dashed #c9c9c9;
  z-index: 0;
}
.menu-item {
  font-size: 19px;
  color: #999999;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.menu-item.active {
  color: $Snow;
  background-color: rgba(255, 143, 0, 0.75);
}
.menu-item.active {
  .ctnr {
    display: block;
  }
}
@mixin chevron($direction, $width, $height, $skew, $color) {
  position: relative;
  width: $width;
  height: $height;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 90%;
    background: $color;
    content: "";
  }
  &:before {
    left: 0;
    transform: skew(0deg, $skew);
  }
  &:after {
    right: 0;
    transform: skew(0deg, -$skew);
  }
}
.ctnr {
  display: none;
  position: absolute;
  left: -22px;
  top: 11px;
  .chevron {
    z-index: 1;
    transform: rotate(270deg);
    @include chevron(down, 16px, 20px, 36deg, $AlerteSaffron);
  }
}
.row-action-btn {
  position: absolute;
  bottom: 20px;
  width: 64%;
}
.menu-item.desable p.para-one {
  text-decoration: line-through;
}
.menu-item p {
  line-height: 1.3;
  font-size: 19px;
  margin-bottom: 5px;
}
.menu-item p.para {
  font-size: 14px;
  margin-left: 31px;
}
.down div.col-md-4.page {
  text-align: left;
}
.content-form {
  min-width: 578px;
  text-align: center;
}
select.form-select.br-bottom {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9f9f9f;
  border-radius: 0;
  padding: 10px 0;
}
.progress-width-title {
  flex-direction: column;
}
.progress-width-title p {
  margin-left: 20px;
}
.right {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.left {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.apercu {
  text-align: left;
}
.apercu p.apercu-header {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.apercu-bottun {
  width: 90%;
}
.apercu-bottun p.title {
  font-size: 9px;
}
.apercu-bottun p.apercu-body {
  font-size: 7px;
}
.apercu-bottun button {
  padding: 15px 25px;
  background-color: $Snow;
  border: 1px dashed #979797;
  border-radius: 5px;
}
.apercu-box-content p {
  font-size: 15px;
}
.apercu-box-footer p.uppercase {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
}
.apercu-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6295);
}
.apercu-content {
  display: none;
}
.apercu-content.active {
  display: block;
}
.apercu-content-first {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
}
.apercu-box-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.apercu-box-first button {
  font-size: 30px;
  color: $Snow;
  background-color: transparent;
  border: none;
}
.apercu-box-btn-right {
  position: absolute;
  left: -55px;
  top: 260px;
}
.apercu-box-btn-close {
  position: absolute;
  right: -15px;
  top: -44px;
}
.apercu-box-btn-left {
  position: absolute;
  right: -55px;
  top: 260px;
}
.apercu-box {
  background-color: $Snow;
  height: 575px;
  padding: 40px;
  border-radius: 5px;
}
.div-form-p-7 {
  margin-top: 30px;
}
.form-radio .etat-deux {
  margin-left: 10px;
}
#input-dorpdowns .form-floating > label {
  position: absolute;
  top: -20px;
  font-size: 10px;
  left: -13px;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s;
}
hr.row-hr {
  margin-top: 30px;
  border-top: 1px dashed #707070;
  background-color: transparent;
}
div.row.ajouter-btn {
  display: none;
}
div.row.ajouter-btn.active {
  display: block;
}
.data {
  display: flex;
  justify-content: space-around;
  padding: 15px 10px;
  background-color: $Snow;
  border: 1px solid #97c157;
  border-radius: 5px;
}
.data-info {
  width: 24%;
  height: 80px;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.data-info-2 {
  width: 45%;
  height: 80px;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.data-info .data-info-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #6f6f6f;
}
.data-info .data-info-detail {
  font-size: 20px;
  color: #97c157;
  font-weight: 600;
}
.data-info-last {
  width: 24%;
  height: 80px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #97c157;
}
.data-info-last-2 {
  width: 45%;
  height: 80px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #97c157;
}
.data-info-last p {
  color: $Snow;
  font-size: 14px;
  margin-bottom: 0;
  text-align: left;
}
.data-info-last-2 p {
  color: $Snow;
  font-size: 14px;
  margin-bottom: 0;
  text-align: left;
}
.file-statu {
  padding: 10px 40px;
  display: flex;
  flex-flow: wrap;
  margin: 40px 0;
}
.file-statu img {
  max-width: 100%;
}
.file-statu-content {
  width: 47%;
  padding: 20px 10px;
  background-color: $Snow;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 5px;
}
.file-statu-content p {
  font-size: 13px;
  display: inline;
  width: 70%;
}
.row .row-5 .data .data-info {
  width: 45%;
}
.row .row-5 .data .data-info-last {
  width: 45%;
}
.constitution-content-title {
  font-size: 19px;
  margin-bottom: 5px;
}
.constitution-content-body {
  font-size: 15px;
  margin-bottom: 5px;
}
.form-floating .form-control {
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #9f9f9f;
}
.form-data-final {
  width: 100%;
  background-color: rgba(241, 241, 241, 0.52);
  border: 1px solid rgba(151, 151, 151, 0.62);
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  margin-bottom: 5px;
  .form-data-final-title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #535353;
    margin: 0;
  }
}
.row.main {
  margin-bottom: 100px;
}
