<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage - J'ai déjà un compte</title>
        <!-- bootstrap files  -->
        <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js">
        <!-- fontawsome css  -->
        <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
        <!-- main css  -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">
    </head>

    <body class="home">
        <div class="row g-0">
            <div class="col-sm-8 g-0">
                <div class="left-content">
                    <p>WeCount, une offre <strong>tout-en-un</strong> pour <span>créer votre entreprise</span> </p>
                    <div class="oval">
                        <img src="../assets/img/Saly-1.png" alt="fly" class="fly">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 g-0">
                <div class="right-content">
                    <img src="../assets/img/WeCountlogo.png" alt="" class="WeCount">
                    <form action="#" method="post" class="form-login">
                        <p>Indiquez votre adresse email et votre mot de passe <span>pour vous connecter</span> </p>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email">
                            <label for="email">Adresse email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password">
                            <label for="password">Mot de passe</label>
                        </div>
                        <div class="row form">
                            <div class="form-check form-switch">
                                <input class="form-check-input login" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Se souvenir de
                                    moi</label>
                            </div>
                            <div class="div-oub">
                                <a href="#" class="oub">Mot de passe oublié ?</a>
                            </div>
                        </div>
                        <input type="submit" value="Accéder à mon compte" class="sub">
                    </form>

                </div>
            </div>
        </div>
        <script src="../assets/js/app.js"></script>
        <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>